*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
h1{
    margin-left: 40%;
    margin-top: 30px;
}
.box1{
    height: 120px;
    width: 50%;
   position: relative;
   top: 40px;
    margin-bottom: 20px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.a1,.a2,.a3{
    height:80px;
    width:80px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin: auto;
    background-color: red;
    transform: skewY (30deg);
    transition: transform 2s;
    animation-name: sample1;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}
@keyframes sample2{
    0%{
        transform: skew(30deg);
    }
   

    
    25%{
        transform: skew(-30deg);

    }
    50%{
        transform: skew(30deg);

    }
    75%{
        transform: skew(-30deg);

    }
    100%{
        transform: skew(30deg);

    }
}
.b1,.b2,.b3{
    height:80px;
    width:80px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin: auto;
    background-color: rgb(208, 255, 0);
    transform: skewX(30deg);
   
    
    animation-name: sample1;
    animation-duration: 5s;
    animation-iteration-count: infinite;

 
}
@keyframes sample1{
    0%{
        transform: skew(30deg);
    }
   

    
    25%{
        transform: skew(-30deg);

    }
    50%{
        transform: skew(30deg);

    }
    75%{
        transform: skew(-30deg);

    }
    100%{
        transform: skew(30deg);

    }
}
.c1,.c2,.c3{
    height:80px;
    width:80px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin: auto;
    background-color: rgb(0, 255, 26);
    /* transition: transform 2s; */
    animation-name: sample;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes sample{
    0%{
        transform: rotate(0deg)

    }
    
    100%{
        transform: rotate(360deg)

    }
}



.d1,.d2,.d3{
    height:80px;
    width:80px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin: auto;
    background-color: rgb(0, 8, 255);

}
.d1{
    animation-name: sample4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes sample4{
    0%{
        transform: rotateX(0deg);
        
    }
    
    50%{
        transform: rotateX(50deg)
       
    }
    100%{
        transform: rotateX(0deg)
       
    }

   
}
.d2{
    animation-name: sample5;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes sample5{
    0%{
        transform: rotateY(0deg);
        
    }
    
    50%{
        transform: rotateY(50deg)
       
    }
    100%{
        transform: rotateY(0deg)
       
    }

   
}
.d3{
    
    animation-name: sample6;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes sample6{
    0%{
        transform: rotate(0deg);
       

        
    }
    
    50%{
        transform: rotate(180deg)
       


       
    }
    100%{
        transform: rotate(0deg)
       


       
    }



   
}
p{
    font-size: 25px;
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 30px;
    
   
}